.App {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.container {
  width: 450px;
  margin: auto;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all .3s;
}
  
  input {
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid lightgray;
    margin: 5px;
    margin-bottom: 0px;
    padding: 5px 10px;
    width: 250px;
    height: 30px;
  }
  
  button {
    height: 30px;
    min-width: 150px;
    border-radius: 10px;
    border: none;
    background-color: rgb(111, 170, 247);
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
    cursor: pointer;
    color: white;
  }
  
  button:hover {
    background-color: rgb(128, 181, 250);
  }
  
  .error {
    color: tomato;
    margin-bottom: 10px;
    height: 8px;
    font-size: 13px;
  }
  